@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@font-face{
  font-family: "basement";
  src: url("./BasementGrotesque-Black_v1.202.otf");
}
@font-face{
  font-family: "aileron";
  src: url("./Aileron-Regular.otf");
}
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: #F2F2F2;
  scroll-behavior: smooth;
}
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}
.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #0e2d27;
  z-index: 200;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 500ms ease-in-out;
}
.navigation.active {
  clip-path: circle(75%);
}
.navigation .ham-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.navigation .ham-btn span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  background: #f5f5f5;
  transition: all 200ms ease-in-out;
}
.navigation .ham-btn:hover span:nth-child(1) {
  top: 25%;
}
.navigation .ham-btn:hover span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn:hover span:nth-child(3) {
  top: 75%;
}
.navigation .ham-btn span:nth-child(1) {
  top: 30%;
}
.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn span:nth-child(3) {
  top: 70%;
}
.navigation.active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
  display: none;
}
.navigation.active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.navigation .links a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: #f1b24a;
  transition: all 300ms ease-in-out;
}
.navigation .links a:hover:after {
  width: 100%;
}
/* ---------------Start of Contact Us--------------- */

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
.intro {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0e2d27;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.slider {
  background: #f1b24a;
  position: fixed;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  transform: translateY(100%);
  z-index: 99999;
}
.intro h1{
  font-size: 5rem;
}
.intro-text {
  color: rgb(233, 233, 233);
  font-family: 'basement';
  font-size: 2rem;
}

.hide {
  background: #0e2d27;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
/* --------------------------------------------- Landing Page --------------------------------------------*/
/* --------------------------------------------- Landing Page --------------------------------------------*/
/* --------------------------------------------- Landing Page --------------------------------------------*/
/* --------------------------------------------- Landing Page --------------------------------------------*/
/* nav  */

nav {
  font-family: 'aileron';
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
}

.menu-link {
  padding: 0 30px;
}

/* hero img  */

.wrapper-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30%;
  height: 90vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: #F1B24A;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

/* header  */

.header {
  font-family: 'aileron';
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-family: 'basement';
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
}

.header-1 .letter {

  color: #0e2d27;
  display: inline-block;
  line-height: 1em;
}
.header-2 .letter {
  color: #F1B24A;
  display: inline-block;
  line-height: 1em;
}

/* hero-container */

.sidebar-text {
  font-family: 'aileron';
  position: absolute;
  top: 20%;
  right: 7%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.projects {
  font-family: 'aileron';
  position: absolute;
  bottom: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;

}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
}

/* loader  */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0e2d27;
  z-index: 2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  height: 20vh;
  background: #F1B24A;
  z-index: 2;
}

/* media queries  */

@media (max-width: 900px) {
  .wrapper-img {
    width: 90%;
  }
  .header {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .header h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }
}
.container2{
max-width: 960px;
margin: 0 auto;
background: #F2F2F2;
font-size: 24px;
padding: 25px;
}
.parallax {
  min-height: 400px;
  background: transparent;
}
.sidebar-text2 {
  font-family: 'aileron';
  position: absolute;
  top: 100%;
  right: 7%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px black;
}